.attrs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    position: relative;

    &--line {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 1em 0 0;
    }
  }

  &__input {
    min-width: 0;
    width: 1em;
    text-align: center;
    background: transparent;
    border: 2px solid transparent;
    margin: 0 1px;
    padding: 2px 0 1px;
    border-radius: 3px;
    line-height: 1;
    color: #FFF;
    transition: all .25s;
    font-family: Courier New, Courier, monospace;

    &--boolean {
      position: absolute;
      opacity: 0;
    }

    &:focus {
      outline: 0;
      color: yellowgreen;
      border-color: currentColor;
    }

    &--string {
      width: 1em;
      color: lightseagreen;
    }

    &--number {
      width: 2em;
      color: gold;

    }
    &--largeArc,
    &--sweep,
    &--xRot,
    &--repeat,
    &--strokeWidth {
      width: 1em;
    }
    &--error,
    &--error:focus {
      color: orangered;
      border-color: currentColor;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    font: 16px/1 Arial, sans-serif;
    color: yellowgreen;
    transition: all .25s;
    order: -1;

    &--hidden {
      position: absolute;
      top: -1.5em;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }

    &--line {
      margin-right: .5em;
    }
  }

  &__input--boolean:disabled ~ &__label {
    color: #333;
  }

  &__input--boolean ~ &__label::before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    border-radius: 3px;
    border: 2px solid #222;
  }

  &__input--boolean ~ &__label::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    margin: 2px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__input--boolean:checked ~ &__label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 102 63'%3E%3Cpolyline fill='none' stroke='yellowgreen' stroke-width='15' points='1.938 20.461 37.484 60.129 100.637 2.238'/%3E%3C/svg%3E%0A");
  }
  &__input--boolean:checked:disabled ~ &__label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 102 63'%3E%3Cpolyline fill='none' stroke='%23222' stroke-width='15' points='1.938 20.461 37.484 60.129 100.637 2.238'/%3E%3C/svg%3E%0A");
  }

  &__input--boolean:focus ~ &__label::before {
    border-color: yellowgreen;
  }

  &__input:focus ~ &__label {
    opacity: 1;
  }
  &__input--error ~ &__label {
    color: orangered;
  }

  &__error {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    font: 16px/1 Arial, sans-serif;
    color: orangered;
  }

  &__input--error:focus ~ &__error {
    opacity: 1;
  }

  &__text {
    margin-right: 20px;
    font: 16px/1 Arial, sans-serif;
  }
}
