.code {
  position: relative;
  margin-left: 20px;

  &__textarea {
    min-width: 350px;
    box-sizing: border-box;
    border: 0;
    background: transparent;
    font: inherit;
    font-size: 14px;
    line-height: 1.3;
  }
}
