.flags {
  position: relative;
  margin-top: 10px;
  min-height: 30px;

  @media (min-width: 700px) {
    margin-top: 0;
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: -1.3em;
    font-size: 14px;
    line-height: 1;
    color: #333;
  }
}
