.main {
  display: flex;
  flex-direction: column;
}

.svg {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  margin: auto;
  overflow: visible !important;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-color: transparent #DDD #DDD transparent;
  background:
    linear-gradient(to bottom, #DDD 1px, transparent 0),
    linear-gradient(to right, #DDD 1px, transparent 0);
  background-size: 50px 50px;
}

.point-control {
  stroke: #000;
  stroke-width: 3;
  fill: greenyellow;
  cursor: pointer;
  transition: fill .25s;

  &:hover {
    fill: orangered;
  }
}

