.panel {
  position: relative;
  min-height: 100px;
  padding: 2rem 3rem;
  box-sizing: border-box;
  background: #000;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #555;

  &--codefont {
    font-size: 1.2rem;
    font-family: Courier New, Courier, monospace;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    white-space: nowrap;
    line-height: 2;
  }

  &__column {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;

    &--props {
      flex-wrap: wrap;

      @media (min-width: 700px) {
        flex-wrap: nowrap;
      }
    }
  }
}
