.popup {
  position: relative;
  margin-left: 20px;
  align-self: baseline;

  &__toggle {
    height: 30px;
    padding: 0 10px;
    background: transparent;
    border: 2px solid #222;
    border-radius: 3px;
    line-height: 30px;
    font: 16px/1 Arial, sans-serif;
    color: yellowgreen;

    &:focus {
      outline: 0;
      border-color: currentColor;
    }
  }

  &__container {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    min-height: 0;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
    transition: all .4s;
  }

  &:last-child &__container {
    @media (max-width: 1000px) {
      left: auto;
      right: 0;
      transform: none;
    }
  }

  &--opened &__container {
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,.5),
                0 0 15px rgba(0,0,0,.5);
  }

  &__content {
    width: 350px;
    display: flex;
    padding: 10px;
    background: rgba(255,255,255,.9);
  }

}
