HTML,
BODY {
  height: 100%;
}

BODY {
  display: flex;
  background: #FFF;
  font: #{$font-size}/1.4 $font-family;
  color: $color-font;
}

A {
  color: $color-link;
  &:visited {
    color: $color-link-visited;
  }
  &:hover {
    color: $color-link-hover;
  }
}

UL {
  margin: 0;
  padding: 0;
  list-style: none;
}

H1,
H2,
H3,
H4,
H5 {
  font-weight: normal;
}


/* LAYOUT */

.header,
.container,
.footer {
  @include container-width;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  @media ( max-width: $bp-tablet) {
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
}

.aside {
  flex-basis: 200px;
  margin-left: 30px;
  @media ( max-width: $bp-tablet) {
    flex-basis: 0;
    margin-left: 0;
    margin-top: 1rem;
  }
}
