/* FONT */
$font-family: Georgia, serif;
$font-size: 16px;

/* COLORS */
$color-font: #222;
$color-link: darkslategray;
$color-link-visited: darkcyan;
$color-link-hover: cadetblue;


/* BREAKPOINTS */
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1000px;
