@import '_vars';
@import '_mixins';

@import '_normalize';
@import '_base';

@import 'blocks/_header';
@import 'blocks/_main';
@import 'blocks/_footer';
@import 'blocks/_attrs';
@import 'blocks/_code';
